In [ ]:
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [ ]:
column_names = ["pregnancies", "glucose", "bpressure","skinfold","insulin","bmi","pedigree","age","class"]
df = pd.read_csv("data.csv", names=column_names)
print(df.shape)
df.head()

(768, 9)

   pregnancies  glucose  bpressure  skinfold  ...   bmi  pedigree  age  class
0            6      148         72        35  ...  33.6     0.627   50      1
1            1       85         66        29  ...  26.6     0.351   31      0
2            8      183         64         0  ...  23.3     0.672   32      1
3            1       89         66        23  ...  28.1     0.167   21      0
4            0      137         40        35  ...  43.1     2.288   33      1

[5 rows x 9 columns]

In [ ]:
X = df.iloc[:,:8]
X.head()

   pregnancies  glucose  bpressure  skinfold  insulin   bmi  pedigree  age
0            6      148         72        35        0  33.6     0.627   50
1            1       85         66        29        0  26.6     0.351   31
2            8      183         64         0        0  23.3     0.672   32
3            1       89         66        23       94  28.1     0.167   21
4            0      137         40        35      168  43.1     2.288   33

In [ ]:
y= df['class']
y.head()

0    1
1    0
2    1
3    0
4    1
Name: class, dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.15,random_state=0)

In [ ]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_train

array([[-0.54921808, -0.3978825 , -0.35995979, ..., -0.85834839,
         1.26393096, -0.95875201],
       [-0.84249424,  2.29516196, -0.97367202, ..., -0.78239248,
         0.57614012, -0.79199029],
       [-0.84249424, -0.30283387,  0.86746466, ..., -0.25070111,
        -0.9820409 , -0.87537115],
       ...,
       [ 0.03733424, -0.84144276, -0.20653173, ..., -0.93430431,
        -0.96682429, -1.04213287],
       [ 2.09026735, -1.12658864,  0.25375243, ..., -0.25070111,
        -0.5042393 ,  0.12519918],
       [ 0.33061039,  0.48923803,  0.66289392, ..., -4.06115598,
         0.53049029,  2.96014843]])

In [ ]:
clf = svm.SVC(kernel='sigmoid')
clf.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='sigmoid',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_pred = clf.predict(X_train)
print(y_pred)
print(accuracy_score(y_train, y_pred))

[0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 1 0 0 0 0 0 0 0 1 0 1 0
 0 1 0 1 0 0 0 1 1 0 0 1 1 0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0
 0 0 0 1 0 0 0 1 0 0 0 0 1 1 1 0 0 0 1 0 1 1 1 1 1 0 1 0 0 0 1 0 0 1 0 0 1
 0 0 1 1 0 0 1 0 0 1 1 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 1 0
 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 1 0 0 1 1 1 1 0 0 0 0 0
 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 1 1 0 1 1 0 0 0 1 1 0 0 0 0
 1 1 0 0 1 1 0 0 1 1 1 1 0 1 0 0 0 1 0 1 1 0 0 0 0 1 0 0 1 1 0 0 0 0 0 0 1
 0 1 0 0 0 1 0 0 1 0 1 1 0 0 0 1 0 0 0 1 0 1 1 0 1 0 0 1 0 0 1 0 0 1 0 0 0
 1 1 0 1 1 0 0 1 0 1 1 0 0 0 1 1 1 1 1 1 0 1 0 1 1 0 0 0 1 0 0 0 1 1 0 0 1
 0 0 0 1 1 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 1 1 0 0 1 0 0 0 0 1 0 0 0 1 1 0
 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0 1 0 1 1 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0
 0 0 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 0
 0 0 1 1 0 0 0 1 1 1 0 0 1 1 0 1 0 0 1 0 1 1 0 0 0 1 0 0 0 0 1 0 0 1 0 1 1
 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 1 1 0 0 1 1 1 1 1 0 0 1 0 0 0 1 0 0 0 0 0
 0 0 1 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0
 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 1 1 0 0
 1 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 1 0 0 1 0 0 1]
0.6671779141104295

In [ ]:
for k in ('linear', 'poly', 'rbf', 'sigmoid'):
  clf = svm.SVC(kernel=k)
  clf.fit(X_train, y_train)
  y_pred = clf.predict(X_train)
  print(k)
  print(accuracy_score(y_train, y_pred))

linear
0.7730061349693251
poly
0.7975460122699386
rbf
0.8282208588957055
sigmoid
0.6671779141104295

In [ ]:
clf = svm.SVC(kernel='rbf')
clf.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
patient = np.array([[1.,200.,75.,40.,0.,45.,1.5,20.]])
patient = scaler.transform(patient)
clf.predict(patient)

array([1])

In [ ]:
patient = np.array([X_test.iloc[0]])
patient = scaler.transform(patient)
print(clf.predict(patient))
print(y_test.iloc[0])

[1]
1

In [ ]:
X_test = scaler.transform(X_test)
y_pred = clf.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.7931034482758621

In [ ]:
y_zero = np.zeros(y_test.shape)
print(accuracy_score(y_test, y_zero))

0.6724137931034483

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.83      0.87      0.85        78
           1       0.71      0.63      0.67        38

    accuracy                           0.79       116
   macro avg       0.77      0.75      0.76       116
weighted avg       0.79      0.79      0.79       116